
<section>
  <h1>Poema angular</h1>
  <h4>
  Angular, estrutura robusta e fiel, <br>  
  No mundo do código, é uma estrela no céu. <br>  
  Com seu framework ágil e versátil, <br>  
  Transforma a web, de forma incrível e sutil. <br>  <br>
  
  Componentes que se encaixam, tudo em harmonia, <br>  
  Criando interfaces com pura magia. <br>  
  Do TypeScript, nasce sua força e precisão, <br>  
  No Angular, cada linha é pura criação. <br> <br> 
  
  Com rotas que guiam, serviços que conectam, <br>  
  Seus módulos são como peças que se interceptam. <br>  
  Padrões e convenções, tudo bem organizado, <br>  
  Fazendo do código algo bem estruturado. <br> <br> 
  
  Com RxJS, a reatividade é chave, <br>  
  Assinaturas e fluxos, tudo se encaixa na nave. <br>  
  No mundo moderno da programação, <br>  
  Angular é mais que um simples padrão. <br>  <br>
  
  Oh, framework de JavaScript, nos guie, <br>  
  Com Angular, criamos o futuro, e a web reluz. <br>
  </h4>

</section>
<router-outlet />
